div.tallacman_cv_wrapper {
	display: flex;
	padding: 30px 0;
	justify-content: space-between;
}

div.tcv-sidebar {
	text-align: right;
	padding-top: 4px;
}

div.tcv-main {
	width: 70%;
}

div.tcv-position {
	color: black;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 2em;
}

div.tcv-employer {
	font-size: 1.8em;
	font-weight: bold;
	text-transform: uppercase;
	color: gray;
	margin-bottom: 12px;
}

div.tcv-url {
	text-align: right;
}

div.tcv-dates {
	font-weight: bold;
	color: #c8338e;
	font-size: 1.1em;
}